/* :root {
  --color-primary: #4452FE;
  --color-secondary: #02E4C0;
} */

.container {
  padding: 0 2rem;
}

.main {
  min-height: 93vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  margin-top: 2rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 2rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}


.code {
  background: #181818;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.gridCandidates {
  max-width: 800px;
}

.card,
.advantages {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  background-color: transparent;
}

.advantages {
  border: 0px;
}

.card:hover,
.card:focus,
.card:active {
  color: #4452FE;
  border-color: #4452FE;
}

.card h2,
.advantages h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p,
.advantages p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.fancy {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-top: 2rem;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

.fancy::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: #02E4C0;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.fancy .buttontext {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: white;
}

.fancy .topkey {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #181818;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottomkey1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #181818;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottomkey2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: white;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
  color: white;
  background: #4452FE;
}

.fancy:hover::before {
  width: 0.9375rem;
  background: white;
}

.fancy:hover .buttontext {
  color: white;
  padding-left: 1.5em;
}

.fancy:hover .topkey {
  left: -2px;
  width: 0px;
}

.fancy:hover .bottomkey1,
.fancy:hover .bottomkey2 {
  right: 0;
  width: 0;
}

.pastVoteImage {
  border-radius: 15px;
}

.pastVoteImageHolder {
  margin: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  transition: transform .2s;
}

.pastVoteImageHolder:hover {
  transform: scale(1.1);
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.6, 1);
}

.examplesGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100000px;
  margin: 0 auto;
}